<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lesson25_recyclerview">

    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme_NotTitle">
        <!--<activity android:name=".NvActivity">-->
        <!--<activity android:name=".SlidingActivity"-->
            <!--android:theme="@style/AppTheme_NotTitle">-->
        <!--<activity android:name=".DrawerActivity"-->
            <!--android:theme="@style/AppTheme_NotTitle">-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NvActivity"/>
    </application>

</manifest>